<!-- PROJECT MODAL: IMAGE CAROUSEL -->
{% macro project_carousel(image_urls, captions) %}
<div class="carousel-inner">
  {% for i in range(image_urls | length) %}
    {% if i == 0 %}
    <!-- DEFAULT: SET FIRST IMAGE AS ACTIVE -->
    <div class="carousel-item active">
    {% else %}
    <!-- INACTIVE -->
    <div class="carousel-item">
    {% endif %}
      <img
        src="{{image_urls[i]}}"
        width="100%"
        height="auto"
        class="selected-img d-block"
        style="object-fit: contain"
      />
      <br />
      <p class="carousel-caption">
        {{captions[i]}}
      </p>
    </div>
  {% endfor %}
</div>
{% endmacro %}