{% extends "base.html" %}

{% block content %}
    <div class="card outer-card">

        <div class="new-section">
            ABOUT ME
        </div>

        <p>
            Hi, my name is Jennifer! 👋 I'm a <span><a href="https://en.wikipedia.org/wiki/San_Francisco_Bay_Area" target="_blank">Bay Area</a></span> local and a recent <span><a href="https://www.ucdavis.edu/majors/computer-science" target="_blank">Computer Science</a></span> graduate from <span><a href="https://www.ucdavis.edu/" target="_blank">UC Davis</a></span>.
            Besides experimenting with and learning about new tech, my favorite activities include creating digital art, visiting new boba shops, and editing family vlogs! 📷 </p>
        </p>

        <br>
        <hr>

        <div class="new-section">
            TECHNICAL SKILLS
        </div>

        <p>I have technical experience in Python, HTML, CSS, JavaScript, and C++ through building web apps, projects for data visualization/storage, interactive GUIs, and more!</p>

        <br>

        <p>Some frameworks & development tools I've worked with: </p>
        <p>⤷ <span><a href="https://pythonbasics.org/what-is-flask-python/" target="_blank">Flask</a></span>, <a href="https://getbootstrap.com/docs/5.1/getting-started/introduction/" target="_blank">Bootstrap</a>, <a href="https://realpython.com/python-gui-tkinter/" target="_blank">Tkinter</a>, SQLite, SQLAlchemy, Git, Bash, <a href="https://jinja.palletsprojects.com/en/3.1.x/intro/" target="_blank">Jinja Templating</a>, VS Code</p>

        <br>
        <hr>

        <div class="new-section">
            CONTACT
        </div>

        <p>
        Thanks for visiting! Please feel free to reach out to me at <span><a href="mailto:jschhie@gmail.com">jschhie@gmail.com</a></span>! 📮
        </p>

    </div>
{% endblock %}
