{% extends "base.html" %}

{% block content %}
    <div class="card outer-card">

        <div class="new-section">
            ABOUT ME
        </div>

        <div class="about-body">
            <p>
                Hi, I'm Jennifer!
            </p>
            <br>
            <p>
                I am an aspiring software engineer and a recent Computer Science graduate from UC Davis, interested in the intersection of design and development. 
                I bring experience in full-stack web development, database design, data visualization, graphical and command-line interfaces, and various applications. 
            </p>
            <br>
            <p>
                Beyond experimenting with new technologies, I also find creativity through digital illustrations and lifestyle vlog editing. 🖍️ 📷 💻 </p>
            </p>            
            <hr>
        </div>


        <div class="new-section">
            SKILLS
        </div>

        <div class="about-body">
            <div>
                <span class="subheader">Programming Languages:</span>
                <br>
                <span class="icon-tag">
                    <img src="https://www.svgrepo.com/show/314507/python.svg" height="25">
                    Python
                </span>
                <span class="icon-tag">
                    <img src="https://www.svgrepo.com/show/508839/html5-02.svg" height="20">
                    HTML
                </span>
                <span class="icon-tag">
                    <img src="https://www.svgrepo.com/show/508795/css3-02.svg" height="20">
                    CSS
                </span>
                <span class="icon-tag">
                    <img src="https://www.svgrepo.com/show/473670/javascript.svg" height="20">
                    JavaScript
                </span>
                <span class="icon-tag">
                    <img src="https://www.svgrepo.com/show/341068/sql.svg" height="25">
                    SQL
                </span>
            </div>
            
            <br>

            <div>
                <span class="subheader">Frameworks & Libraries:</span>
                <br>
                <span class="icon-tag">
                    <img src="https://www.svgrepo.com/show/508915/flask.svg" height="20">
                    Flask
                </span>
                <span class="icon-tag">
                    <img src="https://www.svgrepo.com/show/330083/bootstrap.svg" height="20"> 
                    Bootstrap
                </span>
                <span class="icon-tag">
                    <img src="https://www.svgrepo.com/show/314507/python.svg" height="25">
                    Tkinter
                </span>
                <span class="icon-tag">
                    <img src="https://www.svgrepo.com/show/314507/python.svg" height="25">
                    Matplotlib
                </span>
            </div>

            <br>

            <div>
                <span class="subheader">Development Tools:</span>
                <br>
                <span class="icon-tag">
                    <img src="https://www.svgrepo.com/show/473796/sqlite.svg" height="20">
                    SQLite
                </span>
                <span class="icon-tag">
                    <img src="https://www.svgrepo.com/show/341068/sql.svg" height="25">
                    SQLAlchemy
                </span>
                <span class="icon-tag">
                    <img src="https://www.svgrepo.com/show/473619/git.svg" height="20">
                    Git
                </span>
                <span class="icon-tag">
                    <img src="https://www.svgrepo.com/show/508897/bash02.svg" height="20">
                    Bash
                </span>
                <span class="icon-tag">
                    <img src="https://www.svgrepo.com/show/330741/jinja.svg" height="20">
                    Jinja
                </span>
            </div>

            <hr>
        </div>

        <div class="new-section">
            Thanks for visiting!
        </div>

        <div class="about-body">
            <p>You can find some of my recent projects <a href="/projects">here</a>!</p>
        </div>

    </div>
{% endblock %}
