{% extends "base.html" %}

{% block content %}

<div class="card outer-card home-card">
    <img class="profile-img shadow" src="https://avatars.githubusercontent.com/u/22698132?v=4">

    <div class="new-section">Hi, I'm Jennifer!</div>

    <div class="about-body">
        <p>An aspiring full-stack software engineer, interested in bridging design and development in applications.</p>
        <br>
        <p>Feel free to explore my recent work by visiting the <span><a href="https://jschhieportfolio.pythonanywhere.com/projects">Projects</a></span> tab, or get to know me better by checking out the <span><a href="https://jschhieportfolio.pythonanywhere.com/about">About</a></span> section!</p>
        <hr>
        <p>[ built with Flask, Python, HTML, CSS, Bootstrap, & JavaScript ]</p>
    </div>

</div>

{% endblock %}
