{% extends "base.html" %}

{% block content %}

<div class="card outer-card home-card">
    <img class="profile-img shadow" src="https://avatars.githubusercontent.com/u/22698132?v=4">

    <div class="new-section">Hi, I'm Jennifer Chhie!</div>
    <p>✎ Welcome to my site! ^^</p>
    <br>
    <p>You can visit the <span><a href="https://jschhieportfolio.pythonanywhere.com/projects" target="_blank">Projects</a></span> tab to view some of my recent works, <br> or the <span><a href="https://jschhieportfolio.pythonanywhere.com/about" target="_blank">About</a></span> tab to learn more about me!</p>
    <hr>
    <p>[ built with Flask, Python, HTML, CSS, Bootstrap, & JavaScript ]</p>
</div>

{% endblock %}
