{% extends "base.html" %}

{% block content %}

<div class="card outer-card home-card">
    <img class="profile-img shadow" src="https://avatars.githubusercontent.com/u/22698132?v=4">
    <div class="about-body">
        <p>
            Hi, I'm Jennifer – a software developer passionate about bridging design and development. 
            Feel free to explore my work in the <span><a href="https://jschhieportfolio.pythonanywhere.com/projects">Projects</a></span> tab, 
            or learn more about me in the <span><a href="https://jschhieportfolio.pythonanywhere.com/about">About</a></span> section!
        </p>
    </div>

    <br>

    <div class="custom-hr"></div>
    
    <div class="new-section">
        Thanks for visiting! 
    </div>

</div>

{% endblock %}
