{% extends "base.html" %} {% block content %}

<div class="card outer-card" id="projects-header">
  <div class="new-section">
    <div class="custom-hr"></div>
    <span style="font-weight: bold"> PROJECTS </span>
    <div class="custom-hr"></div>
  </div>

  <div class="projects-body">
    <p>Here are a few projects I've been involved in.</p>
    <p>
      You can also find more of my work on my
      <span
        ><a href="https://github.com/jschhie" target="_blank">GitHub</a></span
      >
      profile!
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-tools"
        viewBox="0 0 16 16"
      >
        <path
          d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3q0-.405-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"
        />
      </svg>
    </p>
  </div>

  <div class="projects-container">

    <!-- ONLINE MUSIC BAND STORE -->
    <div class="card project-box">
      <p class="project-title">
        Online
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-music-note"
            viewBox="0 0 16 16"
          >
            <path
              d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"
            />
            <path fill-rule="evenodd" d="M9 3v10H8V3h1z" />
            <path
              d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"
            />
          </svg>
        </span>
        Band Store
        <span class="icon-tag">
          <a
            href="https://github.com/jschhie/Mock-Band-Web-App"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-github"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
              />
            </svg>
          </a>
          <a href="https://bandstore.pythonanywhere.com/" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-window-fullscreen"
              viewBox="0 0 16 16"
            >
              <path
                d="M3 3.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm1.5 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Z"
              />
              <path
                d="M.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h15a.5.5 0 0 0 .5-.5v-13a.5.5 0 0 0-.5-.5H.5ZM1 5V2h14v3H1Zm0 1h14v8H1V6Z"
              />
            </svg>
          </a>
        </span>
      </p>
      <p>
        Designed and developed a full-stack e-commerce platform with a secure customer portal, dynamic shopping cart logic, membership rewards system, and complete transaction processing. 
      </p>
      <br />
      <p>
        <span style="font-weight: bold;">Tech: </span> Python, Flask, JavaScript, SQLite, Bootstrap, HTML, CSS
      </p>
      <br />
      <button
        class="demo-area img-btn"
        data-bs-toggle="modal"
        data-bs-target="#bandstore"
      >
        <p class="demo-text">VIEW DEMOS</p>
        <img
          src="https://github.com/jschhie/band-web-app/raw/main/newdemos/avg-stars.png"
          width="200"
        />
      </button>
      <!-- BAND STORE MODAL BOX -->
      <div
        class="modal fade"
        id="bandstore"
        tabindex="-1"
        aria-labelledby="bandStoreModal"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="bandstoreLabel">
                Pop Band Store Demo
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <!-- BAND STORE GALLERY -->
            <div class="modal-body gallery" id="shop-gallery">
              <div id="shop-carousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      src="https://github.com/jschhie/band-web-app/raw/main/newdemos/avg-stars.png"
                      width="350px"
                      height="300px"
                      class="selected-img d-block w-100"
                    />
                    <br />
                    <p class="carousel-caption d-none d-md-block">
                      Product catalog & reviews/ratings.
                    </p>
                  </div>
                  <div class="carousel-item">
                    <img
                      src="https://github.com/jschhie/Mock-Band-Web-App/raw/main/newdemos/new-font-merch2.png"
                      width="350px"
                      height="300px"
                      class="selected-img d-block w-100"
                    />
                    <br />
                    <p class="carousel-caption d-none d-md-block">
                      Customer receipt.
                    </p>
                  </div>
                  <div class="carousel-item">
                    <img
                      src="https://live.staticflickr.com/65535/53153939310_c8105d0dca_k.jpg"
                      width="350px"
                      height="300px"
                      class="selected-img d-block w-100"
                    />
                    <br />
                    <p class="carousel-caption d-none d-md-block">
                      Store with virtual shopping cart.
                    </p>
                  </div>
                </div>
                <!-- BAND STORE PREV/NEXT BTN CONTROLS -->
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#shop-carousel"
                  data-bs-slide="prev"
                >
                  <span aria-hidden="true">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="rgba(196, 164, 132, .65)"
                      class="gallery-arrow bi bi-arrow-left-circle-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
                      />
                    </svg>
                  </span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#shop-carousel"
                  data-bs-slide="next"
                >
                  <span aria-hidden="true">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="rgba(196, 164, 132, .65)"
                      class="gallery-arrow bi bi-arrow-right-circle-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                      />
                    </svg>
                  </span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <br />
            <div class="modal-footer">
              <button
                type="button"
                class="btn close-btn"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ONLINE CAFE ORDERING SYSTEM -->
    <div class="card project-box">
      <p class="project-title">
        Cafe Ordering Platform
        <span class="icon-tag">
          <a href="https://github.com/jschhie/Toast-Tab-Cafe" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-github"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
              />
            </svg>
          </a>
          <a href="https://sunrightcafe.pythonanywhere.com/" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-window-fullscreen"
              viewBox="0 0 16 16"
            >
              <path
                d="M3 3.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm1.5 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Z"
              />
              <path
                d="M.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h15a.5.5 0 0 0 .5-.5v-13a.5.5 0 0 0-.5-.5H.5ZM1 5V2h14v3H1Zm0 1h14v8H1V6Z"
              />
            </svg>
          </a>
        </span>
      </p>
      <p>
        Developed a mobile-first cafe ordering system with an integrated Admin Dashboard for real-time inventory tracking and complex order management. 
      </p>
      <br />
      <p>
        <span style="font-weight: bold;">Tech: </span> Python, Flask, JavaScript, SQLite, Bootstrap, HTML, CSS
      </p>
      <br />
      <br />
      <button
        class="demo-area img-btn"
        data-bs-toggle="modal"
        data-bs-target="#onlinecafe"
      >
        <p class="demo-text">VIEW DEMOS</p>
        <img
          src="https://github.com/jschhie/toast-tab-cafe/raw/main/demos/updated-modal-1.png"
          width="200"
        />
      </button>

      <!-- ONLINE CAFE ORDERING SYSTEM MODAL BOX -->
      <div
        class="modal fade"
        id="onlinecafe"
        tabindex="-1"
        aria-labelledby="onlinecafeModal"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="onlinecafeLabel">
                Online Cafe Demo
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <!-- ONLINE CAFE ORDERING SYSTEM GALLERY -->
            <div class="modal-body gallery" id="cafe-gallery">
              <div id="cafe-carousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      src="https://github.com/jschhie/toast-tab-cafe/raw/main/demos/updated-modal-1.png"
                      width="350px"
                      height="300px"
                      class="selected-img d-block w-100"
                    />
                    <br />
                    <p class="carousel-caption d-none d-md-block">
                      Drink customization (1/2).
                    </p>
                  </div>
                  <div class="carousel-item">
                    <img
                      src="https://github.com/jschhie/toast-tab-cafe/raw/main/demos/updated-modal-2.png"
                      width="350px"
                      height="300px"
                      class="selected-img d-block w-100"
                    />
                    <br />
                    <p class="carousel-caption d-none d-md-block">
                      Drink customization (2/2).
                    </p>
                  </div>
                  <div class="carousel-item">
                    <img
                      src="https://github.com/jschhie/toast-tab-cafe/raw/main/demos/updated-cart-2.png"
                      width="350px"
                      height="300px"
                      class="selected-img d-block w-100"
                    />
                    <br />
                    <p class="carousel-caption d-none d-md-block">
                      Sample cart.
                    </p>
                  </div>
                </div>
                <!-- ONLINE CAFE PREV/NEXT BTN CONTROLS -->
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#cafe-carousel"
                  data-bs-slide="prev"
                >
                  <span aria-hidden="true">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="rgba(196, 164, 132, .65)"
                      class="gallery-arrow bi bi-arrow-left-circle-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
                      />
                    </svg>
                  </span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#cafe-carousel"
                  data-bs-slide="next"
                >
                  <span aria-hidden="true">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="rgba(196, 164, 132, .65)"
                      class="gallery-arrow bi bi-arrow-right-circle-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                      />
                    </svg>
                  </span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <br />
            <div class="modal-footer">
              <button
                type="button"
                class="btn close-btn"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- TEAM TASK BOARD -->
    <div class="card project-box">
      <p class="project-title">
        Team Task Board
        <span class="icon-tag">
          <a href="https://github.com/jschhie/Events-Assistant" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-github"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
              />
            </svg>
          </a>
          <a href="https://jschhie.pythonanywhere.com/" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-window-fullscreen"
              viewBox="0 0 16 16"
            >
              <path
                d="M3 3.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm1.5 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Z"
              />
              <path
                d="M.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h15a.5.5 0 0 0 .5-.5v-13a.5.5 0 0 0-.5-.5H.5ZM1 5V2h14v3H1Zm0 1h14v8H1V6Z"
              />
            </svg>
          </a>
        </span>
      </p>
      <p>
        Built a multi-user Flask application for secure team task management, featuring shared scheduling, status tracking, and multi-criteria search logic. 
      </p>
      <br />
      <p>
        <span style="font-weight: bold;">Tech: </span> Python, Flask, JavaScript, SQLite, Bootstrap, HTML, CSS
      </p>
      <br />
      <button
        class="demo-area img-btn"
        data-bs-toggle="modal"
        data-bs-target="#dashboard"
      >
        <p class="demo-text">VIEW DEMOS</p>
        <img
          src="https://github.com/jschhie/Events-Assistant/raw/master/demos/edit-members.png"
          width="200"
        />
      </button>
      <!-- TEAM TASK BOARD MODAL BOX -->
      <div
        class="modal fade"
        id="dashboard"
        tabindex="-1"
        aria-labelledby="dashboardModal"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="dashboardLabel">
                Team Task Board Demo
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <img
                src="https://github.com/jschhie/Events-Assistant/raw/master/demos/edit-members.png"
                width="100%"
              />
              Add, remove, or update access modes ('Editor' or 'Viewer') for
              each team member.
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn close-btn"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- LINEAGE RDBMS -->
    <div class="card project-box">
      <p class="project-title">
        Lineage-based Relational Database Management System
      </p>
      <p>
        Collaboratively architected a lineage-based RDBMS in Python for student data, providing full CRUD and aggregate functionality with version history tracking. 
      </p>
      <br />
      <p>
        <span style="font-weight: bold;">Tech: </span> Python
      </p>
    </div>

    <!-- FINANCIAL VISUALIZER -->
    <div class="card project-box">
      <p class="project-title">
        Financial Visualizer
        <a
          href="https://github.com/jschhie/Financial-Visualizer"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-github"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
            />
          </svg>
        </a>
      </p>
      <p>
        Designed an interactive Python GUI (Tkinter) for financial visualization, integrating Matplotlib to generate and track spending and income graphs. 
      </p>
      <br />
      <p>
        <span style="font-weight: bold;">Tech: </span> Python, Tkinter, SQLite, Matplotlib
      </p>
      <br />
      <button
        class="demo-area img-btn"
        data-bs-toggle="modal"
        data-bs-target="#gui"
      >
        <p class="demo-text">VIEW DEMOS</p>
        <img
          src="https://github.com/jschhie/Financial-Visualizer/raw/master/updated_demos/double%20barh.png"
          width="120"
        />
      </button>
      <!-- FINANCIAL VISUALIZER MODAL BOX -->
      <div
        class="modal fade"
        id="gui"
        tabindex="-1"
        aria-labelledby="guiModal"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="guiLabel">
                Financial Visualizer Demo
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <!-- FINANCIAL VISUALIZER GALLERY -->
            <div class="modal-body gallery" id="gui-gallery">
              <div id="gui-carousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      src="https://github.com/jschhie/Financial-Visualizer/raw/master/updated_demos/double%20barh.png"
                      width="350px"
                      height="300px"
                      class="selected-img d-block w-100"
                    />
                    <br />
                    <p class="carousel-caption d-none d-md-block">
                      Monthly report for January 2002.
                    </p>
                  </div>
                  <div class="carousel-item">
                    <img
                      src="https://github.com/jschhie/Financial-Visualizer/raw/master/updated_demos/summary3.png"
                      width="350px"
                      height="300px"
                      class="selected-img d-block w-100"
                    />
                    <br />
                    <p class="carousel-caption d-none d-md-block">
                      Summary table for January 2002.
                    </p>
                  </div>
                  <div class="carousel-item">
                    <img
                      src="https://github.com/jschhie/Financial-Visualizer/raw/master/updated_demos/by%20month%20year%20tag.png"
                      width="350px"
                      height="300px"
                      class="selected-img d-block w-100"
                    />
                    <br />
                    <p class="carousel-caption d-none d-md-block">
                      Category breakdown for timeframe.
                    </p>
                  </div>
                </div>
                <!-- FINANCIAL VISUALIZER PREV/NEXT BTN CONTROLS -->
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#gui-carousel"
                  data-bs-slide="prev"
                >
                  <span aria-hidden="true">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="rgba(196, 164, 132, .65)"
                      class="gallery-arrow bi bi-arrow-left-circle-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
                      />
                    </svg>
                  </span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#gui-carousel"
                  data-bs-slide="next"
                >
                  <span aria-hidden="true">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="rgba(196, 164, 132, .65)"
                      class="gallery-arrow bi bi-arrow-right-circle-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                      />
                    </svg>
                  </span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <br />
            <div class="modal-footer">
              <button
                type="button"
                class="btn close-btn"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- IMAGE SIMILARITY SEARCH -->
    <div class="card project-box">
      <p class="project-title">
        Image Similarity Search for <i>Friends</i> (TV Show)
        <a
          href="https://github.com/jschhie/Interactive-Image-Classifier"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-github"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
            />
          </svg>
        </a>
      </p>
      <p>
        Created a video search application in MATLAB using k-means clustering and 6 GB SIFT features to identify the 5 most similar images within a large 6,600+ frame dataset. 
      </p>
      <br />
      <p>
        <span style="font-weight: bold;">Tech: </span> MATLAB, SIFT, K-means
      </p>
      <br />
      <button
        class="demo-area img-btn"
        data-bs-toggle="modal"
        data-bs-target="#friends"
      >
        <p class="demo-text">VIEW DEMOS</p>
        <img
          src="https://github.com/jschhie/image-detector-prog/raw/master/sample_outputs/full_frames/full%20frame%20matches%201.jpg?raw=true"
          width="100"
        />
      </button>
      <!-- IMAGE SIMILARITY SEARCH MODAL BOX -->
      <div
        class="modal fade"
        id="friends"
        tabindex="-1"
        aria-labelledby="friendsModal"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="friendsLabel">
                Image Similarity Search for <i>Friends</i> Demo
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <!-- IMAGE SIMILARITY SEARCH GALLERY -->
            <div class="modal-body gallery" id="gallery">
              <div id="carousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      src="https://github.com/jschhie/image-detector-prog/raw/master/sample_outputs/full_frames/full%20frame%20matches%201.jpg?raw=true"
                      width="350px"
                      height="300px"
                      class="selected-img d-block w-100"
                      alt="Full frame matches for character in red dress."
                    />
                    <br />
                    <p class="carousel-caption d-none d-md-block">
                      Full frame matches for red dress.
                    </p>
                  </div>
                  <div class="carousel-item">
                    <img
                      src="https://github.com/jschhie/image-detector-prog/raw/master/sample_outputs/region_based/sample_kitchen_table/find%20kitchen%20table.jpg?raw=true"
                      width="350px"
                      height="300px"
                      alt="Interactive geometric region-based selection for kitchen table."
                      class="selected-img d-block w-100"
                    />
                    <br />
                    <p class="carousel-caption d-none d-md-block">
                      Region-based query for kitchen table.
                    </p>
                  </div>
                  <div class="carousel-item">
                    <img
                      src="https://github.com/jschhie/image-detector-prog/raw/master/sample_outputs/region_based/sample_kitchen_table/kitchen%20table%20matches.jpg?raw=true"
                      width="350px"
                      height="300px"
                      alt="Region-based / object detection for kitchen table."
                      class="selected-img d-block w-100"
                    />
                    <br />
                    <p class="carousel-caption d-none d-md-block">
                      Object detection for kitchen table.
                    </p>
                  </div>
                </div>
                <!-- IMAGE SIMILARITY SEARCH PREV/NEXT BTN CONTROLS -->
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carousel"
                  data-bs-slide="prev"
                  onclick="showCaption(this)"
                >
                  <span aria-hidden="true">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="rgba(196, 164, 132, .65)"
                      class="gallery-arrow bi bi-arrow-left-circle-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
                      />
                    </svg>
                  </span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carousel"
                  data-bs-slide="next"
                  onclick="showCaption(this)"
                >
                  <span aria-hidden="true">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="rgba(196, 164, 132, .65)"
                      class="gallery-arrow bi bi-arrow-right-circle-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                      />
                    </svg>
                  </span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <br />
            <div class="modal-footer">
              <button
                type="button"
                class="btn close-btn"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
