{% extends "base.html" %}

{% block content %}

<div class="card outer-card">
    <div class="new-section">
        PROJECTS
    </div>

    <p>Here are some projects I've recently worked on ^^ 💡</p>
    <p> You may also view these on my <a href="https://github.com/jschhie" target="_blank">GitHub</a> profile! </p>

    <div class="projects-container">

        <div class="card project-box">
            <p class="project-title">
                Online
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note" viewBox="0 0 16 16">
                        <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
                        <path fill-rule="evenodd" d="M9 3v10H8V3h1z"/>
                        <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"/>
                    </svg>
                </span>
                 Band Store
                <a href="https://github.com/jschhie/Mock-Band-Web-App" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                </a>
                <a href="https://bandstore.pythonanywhere.com/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-window-fullscreen" viewBox="0 0 16 16">
                        <path d="M3 3.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm1.5 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Z"/>
                        <path d="M.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h15a.5.5 0 0 0 .5-.5v-13a.5.5 0 0 0-.5-.5H.5ZM1 5V2h14v3H1Zm0 1h14v8H1V6Z"/>
                    </svg>
                </a>
            </p>
            <p>Emulated an e-commerce platform with Python and Flask, featuring a store catalog, photo gallery, shopping cart functionality, and checkout system for merchandise & tour tickets.</p>
            <br>
            <p>Deployed on <span><a href="https://bandstore.pythonanywhere.com/" target="_blank">PythonAnywhere.</a></span> </p>
            <br>
            <br>
            <button class="demo-area img-btn" data-bs-toggle="modal" data-bs-target="#bandstore">
                <p class="demo-text">VIEW DEMOS</p>
                <img src="https://github.com/jschhie/band-web-app/raw/main/newdemos/new-font-store2.png" width="200">
            </button>
            <!-- BANDSTORE MODAL BOX -->
            <div class="modal fade" id="bandstore" tabindex="-1" aria-labelledby="bandStoreModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="bandstoreLabel">Pop Band Store Demo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Main store with shopping cart functionality.
                            <img src="https://github.com/jschhie/band-web-app/raw/main/newdemos/new-font-store2.png" width="90%">
                            Customer receipt.
                            <img src="https://github.com/jschhie/Mock-Band-Web-App/raw/main/newdemos/new-font-merch2.png" width="90%">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn close-btn" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card project-box">
            <p class="project-title">Dashboard Builder
                <a href="https://github.com/jschhie/Events-Assistant" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                </a>
                <a href="https://jschhie.pythonanywhere.com/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-window-fullscreen" viewBox="0 0 16 16">
                        <path d="M3 3.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm1.5 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Z"/>
                        <path d="M.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h15a.5.5 0 0 0 .5-.5v-13a.5.5 0 0 0-.5-.5H.5ZM1 5V2h14v3H1Zm0 1h14v8H1V6Z"/>
                    </svg>
                </a>
            </p>
            <p>Developed a full-stack Flask web application that generates a CRUD dashboard of scheduled events with search filtering, bookmarking, and selective un/hiding features. </p>
            <br>
            <p><span>Deployed on <a href="https://jschhie.pythonanywhere.com/" target="_blank">PythonAnywhere</a>.</span></p>
            <br>
            <button class="demo-area img-btn" data-bs-toggle="modal" data-bs-target="#dashboard">
                <p class="demo-text">VIEW DEMOS</p>
                <img src="https://github.com/jschhie/Events-Assistant/raw/master/demos/css%20register2.png" width="200">
            </button>
            <!-- DASHBOARD MODAL BOX -->
            <div class="modal fade" id="dashboard" tabindex="-1" aria-labelledby="dashboardModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="dashboardLabel">Dashboard Builder Demo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            User login page.
                            <img src="https://github.com/jschhie/Events-Assistant/raw/master/demos/css%20login2.png" width="100%">
                            Home page with custom events.
                            <img src="https://github.com/jschhie/Events-Assistant/raw/master/demos/css%20home2.png" width="100%">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn close-btn" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card project-box">
            <p class="project-title">Financial Visualizer
                <a href="https://github.com/jschhie/Financial-Visualizer" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                </a>
            </p>
            <p>Created a Tkinter graphical user interface (GUI) with Python's Matplotlib library to visually track spending and income through filterable tables and graphs. </p>
            <br>
            <p>Auto-generated SQLite queries to analyze user data by categories, custom timeframes, and transaction type.</p>
            <br>
            <button class="demo-area img-btn" data-bs-toggle="modal" data-bs-target="#gui">
                <p class="demo-text">VIEW DEMOS</p>
                <img src="https://github.com/jschhie/Financial-Visualizer/raw/master/updated_demos/double%20barh.png" width="120">
            </button>
            <!-- GUI MODAL BOX -->
            <div class="modal fade" id="gui" tabindex="-1" aria-labelledby="guiModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="guiLabel">Financial Visualizer Demo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Monthly group-based report for January 2002.
                            <img src="https://github.com/jschhie/Financial-Visualizer/raw/master/updated_demos/double%20barh.png" width="100%">
                            Summary table for January 2002.
                            <img src="https://github.com/jschhie/Financial-Visualizer/raw/master/updated_demos/summary3.png" width="100%">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn close-btn" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card project-box">
            <p class="project-title">Lineage-based Relational Database Management System</p>
            <p>Constructed an RDBMS in Python with a team of 5 to provide lineage-based storage of current and earlier versions of student data featuring create, delete, update, select, and aggregate capabilities.</p>
            <br>
        </div>

        <div class="card project-box">
            <p class="project-title">Image Similarity Search for <i>Friends</i> (TV Show)
                <a href="https://github.com/jschhie/Interactive-Image-Classifier" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                </a>
            </p>
            <p>Built a video search application in MATLAB that identifies the 5 most similar images to queried object, character, or frame based on a dataset of 6,600+ video frames from <span><a href="https://en.wikipedia.org/wiki/Friends" target="_blank">Friends</a></span>.</p>
            <br>
            <p>Performed <span><a href="https://en.wikipedia.org/wiki/K-means_clustering" target="_blank">k-means clustering</a></span> over 6GB of <span><a href="https://en.wikipedia.org/wiki/Scale-invariant_feature_transform" target="_blank">SIFT</a></span> features to detect visual words and computed similarity scores based on <span><a href="https://en.wikipedia.org/wiki/Bag-of-words_model" target="_blank">bag-of-words</a></span>.</p>
            <br>
            
            <button class="demo-area img-btn" data-bs-toggle="modal" data-bs-target="#friends">
                <p class="demo-text">VIEW DEMOS</p>
                <img src="https://github.com/jschhie/image-detector-prog/raw/master/sample_outputs/full_frames/full%20frame%20matches%201.jpg?raw=true" width="100">
            </button>
            <!-- FRIENDS MODAL BOX -->
            <div class="modal fade" id="friends" tabindex="-1" aria-labelledby="friendsModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="friendsLabel">Image Similarity Search for <i>Friends</i> Demo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Full frame matches for character in red dress.
                            <img src="https://github.com/jschhie/image-detector-prog/raw/master/sample_outputs/full_frames/full%20frame%20matches%201.jpg?raw=true" width="100%">
                            Interactive geometric region-based selection for kitchen table.
                            <img src="https://github.com/jschhie/image-detector-prog/raw/master/sample_outputs/region_based/sample_kitchen_table/find%20kitchen%20table.jpg?raw=true" width="100%">
                            Region-based / object detection for kitchen table.
                            <img src="https://github.com/jschhie/image-detector-prog/raw/master/sample_outputs/region_based/sample_kitchen_table/kitchen%20table%20matches.jpg?raw=true" width="100%">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn close-btn" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
