/* ==== import font ===== */
@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;700&display=swap");

#topButton {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  color: rgb(106, 84, 62);
  font-family: "Gaegu";
  font-weight: bold;
  font-size: 1.1em;
  border: 1px dashed rgb(106, 84, 62);
}

#topButton:hover {
  border: 1px solid;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  font-family: "Gaegu";
  font-size: 1.03em;
}

p {
  margin: 0;
  padding: 0;
}

.new-section {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.2em;
  font-weight: bolder;
}

#home-title {
  text-align: center;
  font-weight: bolder;
  font-size: 1.2em;
  margin-top: 30px;
}

.about-body,
.projects-body {
  width: 75%;
  margin: auto;
}

.home-body,
.main-body-text {
  text-align: center;
}

.main-body-text svg {
  display: block;
  margin: auto;
  margin-bottom: 3%;
  margin-top: 3%;
}

.home-body p,
.about-body p,
.main-body-text p,
.projects-body p {
  margin-bottom: 8%;
  font-size: 17px;
}

.project-box p {
  margin-bottom: 3%;
  font-size: 17px;
}

.outer-card {
  width: 80%;
  margin: auto;
  padding: 3%;
  text-align: center;
  animation: fadeIn 2s;
  margin-bottom: 75px;
  margin-top: 30px;
}

.home-card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  margin-bottom: 65px;
  margin-top: 35px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.main-home-card {
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgba(224, 216, 210, 0.2);
}

.subheader {
  margin-top: 25px;
  margin-bottom: 25px;
}

.left-col {
  font-weight: 600;
  margin-bottom: 20px;
}

.right-col {
  margin-bottom: 50px;
}

.custom-hr {
  height: 3px;
  width: 80%;
  margin: auto;
}

.home-body {
  width: 80%;
  margin: auto;
}

#home-header .custom-hr,
#about-header .custom-hr,
#skills-header .custom-hr,
#projects-header .custom-hr {
  width: 10%;
  display: inline-block;
}

#home-card-bottom {
  margin-bottom: 20px;
}

nav,
footer,
#topButton,
.close-btn,
.custom-hr {
  /* gingham effect */
  font-size: 20px;
  background-color: white;
  background-image: repeating-linear-gradient(
      0deg,
      rgba(196, 164, 132, 0.25) 0px 8px,
      transparent 8px 16px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(196, 164, 132, 0.25) 0px 8px,
      transparent 8px 16px
    );
}

#nav-btn-container,
.nav-item {
  padding-left: 5%;
}

.nav-item,
p a {
  color: rgb(106, 84, 62);
}

.nav-item {
  text-align: left;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-link,
#nav-icon-btn {
  color: rgb(106, 84, 62, 0.8);
}

.close-btn {
  color: rgb(106, 84, 62);
  font-weight: bold;
  border: 1px dashed rgb(106, 84, 62);
}

.close-btn:hover {
  border: 1px solid rgb(106, 84, 62);
}

.nav-link:hover,
#home-btn:hover {
  text-decoration: none;
  border-bottom: 1px solid;
  border-color: rgba(106, 84, 62, 1);
  color: rgba(106, 84, 62, 1);
  background-color: rgba(255, 255, 255, 0.8);
}

footer a:hover,
.project-title a:hover {
  color: rgba(106, 84, 62, 1);
  border-bottom: 0;
}

nav a,
.nav-item a {
  font-weight: bold;
  padding: 2%;
  margin-right: 5%;
}

#nav-icon-btn:focus,
#nav-icon-btn:active {
  outline: none !important;
  box-shadow: none;
}

#home-btn {
  text-decoration: none;
  padding: 30%;
}

/* details, summary box */
details {
  border: 1px solid;
  border-color: gainsboro;
  border-radius: 4px;
  padding: 5px 5px 0;
  width: 80%;
}

summary {
  font-weight: bold;
  margin: 5px 5px 0;
  padding: 5px;
}

details[open] {
  padding: 5px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

details[open] summary {
  border-bottom: 1px solid;
  border-color: gainsboro;
  margin-bottom: 5px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.projects-container {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 3%;
  margin-top: 3%;
}

.project-title a {
  text-decoration: none;
}

.demo-text {
  font-weight: bold;
}

.img-btn {
  border: none;
  background-color: transparent;
  margin-top: 10%;
  margin-bottom: 10%;
}

.img-btn p:hover {
  color: rgba(106, 84, 62, 1);
}

.img-btn img {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.img-btn img:hover {
  opacity: 0.5;
}

.project-text-wrapper {
  position: absolute; 
  bottom: 5%;
  padding: 8%;
}

.modal-title {
  font-weight: bold;
}

.tech-used-text {
  position: absolute;
  bottom: 3%;
  left: auto;
}

.tech-badge {
  width: auto;
  border-radius: 12px;
  border: 1px solid;
  padding: 5px;
  border-color: rgba(106, 84, 62, 1);
}

.profile-img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%; /* mobile-first, small views <= 540px */
  transition: 0.5s ease;
  backface-visibility: hidden;
}

@media all and (min-width: 720px) {
  /* medium */
  .nav-item {
    padding-left: 0%;
    margin-left: 10%;
  }

  .nav-link {
    padding: 10%;
  }

  .profile-img {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .about-body,
  .projects-body {
    width: 85%;
    margin: auto;
  }

  .about-body .custom-hr {
    display: none;
  }

  .about-body .custom-hr:first-of-type {
    display: block;
  }

  .about-parent-flex {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;

    margin-bottom: 2%;
  }

  .about-svg-flex {
    margin: 0%;
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 120px;
  }

  .about-parent-flex svg {
    height: 25px;
    flex-grow: 1;
  }

  .about-text-flex {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .about-text-flex p {
    padding: 5%;
    padding-bottom: 0%;
  }

  .home-body p,
  .about-body p,
  .main-body-text p,
  .projects-body p {
    margin-bottom: 5%;
    font-size: 18.5px;
  }

  .project-box p {
    margin-bottom: 2%;
    font-size: 18px;
  }

  /* About Page: grid (2-column) */
  #about-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr); /* 3 equal rows */
  }

  .subheader {
    grid-template-columns: repeat(2, 1fr); /* two equal columns */
  }

  .left-col {
    text-align: left;
    margin-bottom: 0;
  }

  .right-col {
    text-align: center;
    margin-bottom: 0;
  }

  #langs-row {
    grid-area: 1 / span 2;
    display: grid;
    grid-template-areas: "langs-label langs";
  }

  #frameworks-row {
    grid-area: 2 / span 2;
    display: grid;
    grid-template-areas: "frameworks-label frameworks";
  }

  #dev-tools-row {
    grid-area: 3 / span 2;
    display: grid;
    grid-template-areas: "tools-label tools";
  }

  #langs-left {
    grid-area: langs-label;
  }

  #langs-right {
    grid-area: langs;
  }
}

@media all and (min-width: 960px) {
  /* large */
  .outer-card {
    width: 90%;
    padding: 5%;
  }

  .main-home-card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .home-body {
    width: 55%;
  }

  .profile-img {
    width: 20%;
    height: 100%;
  }

  .about-svg-flex {
    margin: auto;
    width: 10%;
  }

  .about-text-flex {
    margin: auto;
    width: 85%;
  }
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin: 3%;
  height: 700px;
  width: 350px;
}

.icon-tag svg:hover {
  fill: rgb(106, 84, 62, .80);
}

.project-box:hover {
  border-color: rgb(106, 84, 62, 0.6);
  border-width: 1px;
  box-shadow: 5px 5px 15px rgb(219, 218, 218);
  transition: box-shadow 0.3s ease;
}

footer {
  color: rgb(106, 84, 62, 0.8);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-weight: bolder;
}

footer a,
.project-title a,
nav a {
  color: rgb(106, 84, 62, 0.8);
}

.left-footer {
  float: left;
}

.right-footer {
  float: right;
  margin-left: 4%;
}

.gallery {
  width: 85%;
  margin: auto;
}

.gallery-arrow {
  width: 65%;
}

@media all and (min-width: 576px) {
  /* small */
  .carousel,
  .selected-img {
    width: 400px;
    height: 325px;
  }

  .gallery-arrow {
    width: 65%;
  }

  .gallery {
    width: 87%;
  }
}

@media all and (min-width: 768px) {
  /* medium */
  .carousel,
  .selected-img {
    width: 415px;
    height: 335px;
  }

  .gallery-arrow {
    width: 60%;
  }

  .gallery {
    width: 90%;
  }

  .project-box {
    margin: 0%; /* Reset mobile-small margins */
    margin-left: 1%;
    margin-bottom: 3%;
  }
}

.carousel-caption {
  color: black;
  height: 60px;
  font-size: large;
  position: absolute;
  bottom: -15px;
  text-align: center;
}

.icon-tag {
  margin-right: 10px;
  display: inline-block;
}
